<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>{{ '#Create account' | dgTranslate }}</ion-title>
    <ion-buttons slot="end">
	    <ion-icon name="close" style="zoom:2.0;" (click)="dismiss()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p *ngIf="wallet && wallet.address">
    <ion-label position="stacked"><ion-icon color="wallet">*</ion-icon> {{ wallet.address }} </ion-label>
  </p>
	<ion-list lines="full" class="ion-no-margin ion-no-padding">
    <ion-item>
      <ion-label position="stacked">{{ '#Password' | dgTranslate }} <ion-text color="danger">*</ion-text></ion-label>
      <ion-input required type="password" [(ngModel)]="password"></ion-input>
			<ng2-password-strength-bar [passwordToCheck]="password"></ng2-password-strength-bar>
    </ion-item>
  </ion-list>

	<div class="ion-padding">
    <ion-button expand="block" type="submit" class="ion-no-margin" (click)="create()">{{ '#Create new account' | dgTranslate }}</ion-button>
  </div>

  <div class="ion-padding">
    <ion-button expand="block" type="submit" class="ion-no-margin" color="light" (click)="scanQRCode()">{{ '#Scan QR code' | dgTranslate }}</ion-button>
  </div>
</ion-content>
